* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
section {
  background-image: linear-gradient(
      to right,
      rgba(241, 104, 104, 0.178),
      rgba(186, 235, 74, 0.178)
    ),
    url("images/background-2.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
}
.heading {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  display: grid;
  justify-content: center;
  padding-top: 0.5em;
  /* padding-bottom: .5em; */
}
.input input {
  width: 100%;
  height: 80px;
  padding: 0.7em;
  border: solid;
  border-radius: 0.5em;
  background-color: rgba(161, 179, 153, 0.755);
  color: black;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  box-shadow: 3px 3px 0 0 rgba(24, 14, 14, 0.692);
}
table #thtd {
  border: solid;
  background-color: rgba(161, 179, 153, 0.755);
}
div .scroll {
  background-color: rgba(161, 179, 153, 0.755);
  border: solid;
  border-radius: 0.5em;
  width: 100%;
  height: 260px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  box-shadow: 3px 3px 0 0 rgba(24, 14, 14, 0.692);
}
div .button {
  display: flex;
  justify-content: center;
}
.button input {
  height: 40px;
  width: 300px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(47, 47, 186);
  box-shadow: 2px 2px 0 0 rgba(24, 14, 14, 0.692);
  color: #fff;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
tbody .td {
  max-width: 120px;
  max-height: 100%;
}
